openai
langsmith
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
streamlit
Authlib>=1.3.2
tiktoken
pypdf
chromadb
pytest
transformers
opencv-python
pytesseract
PyMuPDF
python-docx
python-pptx
